@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Syne", serif;
}

body{
  width: 100%;
  height: 100vh;
}

body::-webkit-scrollbar{
  width: 5px;
  background: #a2a2a2;
}

body::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: #595252;
}

:root{
  --theme: #E60023;
}

.container{
  padding: 40px;
}

.pin-grid{
  width: 100%;
  columns: 200px;
	column-gap: 15px; 
}

.title{
  width: 100%;
  border-radius: 10px;
  height: 150px;
  background: #000;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .container{
    padding: 20px;
    padding-bottom: 100px;
  }
  .pin-grid{
    columns: 100px;
  }
}