@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", serif;
}

:root{
  --background: #f1f1f1;
  --foreground: #313131;
  
}

body{
  width: 100%;
  height: 100vh;
  background: var(--background);
  color: var(--foreground);
}

.mainContainer{
  width: 100%;
  display: grid;
  grid-template-columns: 80px 1fr;
}

@media (max-width: 760px) {
  .mainContainer{
      grid-template-columns: 1fr;
  }
}

