.create-pin-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.cover-image{
    position: relative;
}

.cover-image img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
}

.cover-image .cover-icon{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.pic-upload {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0px auto;
    position: relative;
}

.pic-upload i{
    position: absolute;
    top: 0px;
    right: 25px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: var(--theme);
    color: #fff;
}

.pic-upload img{
    width: 90px;
    height: 90px;
    margin: 0px auto;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
    cursor: pointer;
    border: 5px solid var(--theme);
}

.pin-details .user-info{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.pin-details .user-info img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.pin-details button{
    padding: 15px 40px;
    color: #fff;
    font-size: 14px;
    border: 0;
    outline: 0;
    background: var(--theme);
    border-radius: 30px;
    font-family: "Syne", serif;
    cursor: pointer;
}

.pin-details button:disabled{
    cursor: not-allowed;
    background: #999;
}

.input{
    position: relative;
}

.input label{
    display: block;
    font-size: 13px;
    color: #3f3c3c;
    background: #fff;
    position: absolute;
    top: -8px;
    left: 10px;
    padding: 5px 15px;
    padding-bottom: 0;
}

.input input,
.input textarea{
    width: 100%;
    display: block;
    padding: 10px;
    padding-top: 20px;
    border-radius: 5px;
    border: 2px solid #999;
    outline: 0;
    font-size: 16px;
    font-family: "Syne", serif;
    color: #222222;
    font-weight: 500;
    margin-bottom: 20px;
}

.input textarea{
    height: 100px;
    resize: none;
}

.input input:focus,
.input textarea:focus{
    border-color: var(--theme);
}

.input input:focus ~ label,
.input textarea:focus ~ label{
    color: var(--theme);
}

.input input:read-only{
    color: #999;
}

.input input:read-only:focus,
.input input:read-only:focus ~ label{
    border-color: #999;
    color: #999;
}

@media (max-width: 768px) {
    .create-pin-wrapper{
        grid-template-columns: 1fr;
    }
}