.pin-page{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.pin-image{
    width: 100%;
    border-radius: 20px;
    text-align: center;
    /* background: var(--themeColor); */
    position: relative;
    overflow-y: scroll;
    max-height: 800px;
    padding: 20px;

}

.pin-image::-webkit-scrollbar{
    width: 0px;
    border-radius: 5px;
    background: #000;
}

.pin-image::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: #afaaaa;
}

.pin-image .author-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    gap: 10px;
}

.pin-image .author-menu button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--theme);
    color: #fff;
    border: 0;
    outline: 0;
    font-size: 18px;
    cursor: pointer;
}

.pin-image img{
    width: auto;
    max-width: 70%;
    object-fit: cover;
    object-position: top;
    min-width: 30%;
    margin: 0px auto;
    border-radius: 0;
    border-radius: 20px;
}

.pin-info{
    padding: 20px;
}

.user-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-info img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.pin-info p.description{
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
    color: #4d4a4a;
}

.post-action{
    margin: 20px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.post-action button,
.post-action a{
    padding: 8px 20px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    background: #fff;
    text-decoration: none;
}

.post-action button span,
.post-action a span{
    margin-left: 10px;
}

.post-action button.like{
    border: 2px solid var(--theme);
    color: var(--theme);
}

.post-action button.like.liked{
    background: var(--theme);
    color: #fff;
}

.post-action button.save{
    color: #0598bd;
    border: 2px solid #0598bd;
    background: #fff;
}

.post-action button.save.saved{
    background: #0598bd;
    border: 2px solid #0598bd;
    color: #fff;
}

.post-action a.download{
    background: #6a05bd;
    border: 2px solid #6a05bd;
}

@media (max-width: 768px) {
    .pin-page{
        grid-template-columns: 1fr;
    }
    .pin-image{
        width: 95%;
        margin: 0px auto;
    }

    .post-action button span{
        display: none;
    }

    .pin-image .author-menu{
        left: 10px;
        top: 10px;
    }
}

